/*Quita los botones de incremento y decremento del input tipo number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.btn-dni {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
      text-align: center;

}

.btn-dni:hover {
    background-color: #e0e0e0;
}

.text-registrarse {
    cursor: pointer;
}