.modal-content {
    background-color: #f2e0d5 !important;
}


/* Para asegurar que los inputs mantengan el fondo blanco */
.form-control:focus {
    background-color: #e0e0e0;
}

/*Ajustes modo dark*/
@media (prefers-color-scheme: dark) {
  .modal-content{
    background-color: #303030 !important;
  }
  .pet-form{
      color: #f2e0d5;
  }
}

