.nav-bar {
    background: var(--background) !important;
}

.navbar-nav .nav-link {
    color: var(--color) !important;
}

.navbar-toggler-icon {
    background-image: var(--background-image) !important;
}

@media (prefers-color-scheme: dark) {
    .nav-bar {
        --background: #303030;
    }

    .navbar-nav .nav-link {
        --color: #f2e0d5;
    }

    .navbar-toggler-icon {
        --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23ffffff'%3E%3Cpath stroke='rgba(108, 117, 125, 1)' stroke-linecap='round' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}   

.img-logo {
    width: 25%;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-toggler {
    margin-left: auto;
    border: none;
    /* Elimina el borde */
    box-shadow: none;
    /* Elimina cualquier sombra */
    background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    /* Elimina el borde al presionar */
    box-shadow: none;
    /* Elimina cualquier sombra al presionar */
}

.redes {
    color: #6c757d;
    text-decoration: none;
    font-size: 1.5rem;
}

/* 🔹 Mobile */
@media (max-width: 576px) {
    .img-logo {
        width: 70%;
    }

    .navbar-collapse {
        /* fondo blanco al abrir el menú */
        text-align: right;
        padding: 1rem 0;
    }

    .navbar-nav .nav-link {
        font-size: 1.1rem;
        padding: 0.5rem 0;
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: 0;
    }

    .redes-container {
        justify-content: center;
        /* centra horizontalmente */
        width: 100%;
        /* ocupa todo el ancho */
        margin: 1rem 0;
        /* separa del nav */
    }
}