.title-info {
    font-family: var(--font-categoria);
    font-size: 50px;
}

.text-infopoly {
    font-size: 20px;
}

.img-poly {
    width: 60%;
    height: 50vh;
}

.container-info-poly {
  --background: #f2e0d5;    /* Modo claro */
  background: var(--background);
}

/*Ajustes modo dark*/
@media (prefers-color-scheme: dark) {
  .container-info-poly {
    --background: #303030;
  }
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
    .text-infopoly {
        font-size: 16px;
    }

    .title-info {
        font-size: 25px;
    }

    .img-poly {
        width: 60%;
        height: 30vh;
    }
}